.cartao{
    background-color: rgb(208, 205, 205);
    width: 400px;
    margin-left: 500px;
    border-radius: 4px;
}

.titulo {
    color: black;
    display: flex;
    justify-content: center;
    padding: 6px 6px 6px 6px;
}

.descricao {
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}