.cartao{
    background-color: rgb(208, 205, 205);
    width: 250px;
    margin-left: 500px;
    border-radius: 8px;
}

.titulo {
    color: black;
    display: flex;
    justify-content: center;
    padding: 25px 6px 6px 6px;
}

.descricao {
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}